<div class="container container-top-margin">
    <div class="row">
        <div class="col-sm-12">

            <i class="fa fa-plus" (click)="addAccount()"></i>

            <div class="menu-icon" [class.change]="menuOpen" (click)="toggleMenu()">
                Manage
            </div>

            @for (account of accounts_list; track account._id) {
            <div class="card text-dark mb-3 clickable-card" [routerLink]="['/accounts', account._id]">
                <div class="card-header">
                    {{ account.accountType | titlecase }} account
                </div>
                <div class="card-body">
                    Account #: {{ account.accountNumber }}<br />
                    Currency: {{ account.currency || 'GBP' }}<br />
                    Balance: {{ account.availableBalance | currency: 'GBP' }}
                </div>
            </div>
            }
        </div>
    </div>
</div>