<div class="container container-top-margin">
    <div class="row">
        <div class="col-sm-12">
            @if (accounts_list.length === 0) {
            <p>No accounts found</p>
            }

            <div class="row mb-3">
                <div class="col-sm-12">
                    <button class="btn btn-outline-secondary me-2" (click)="addAccount()">
                        Add Account
                    </button>
                    <button class="btn btn-outline-secondary" (click)="toggleMenu()">
                        Manage
                    </button>
                </div>
            </div>

            @for (account of accounts_list; track account._id) {
            <div class="card text-dark mb-3 clickable-card" [routerLink]="['/accounts', account._id]">
                <div class="card-header">
                    {{ account.accountType | titlecase }} account
                </div>
                <div class="card-body">
                    Account #: {{ account.accountNumber }}<br />
                    Currency: {{ account.currency || 'GBP' }}<br />
                    Balance: {{ account.availableBalance | currency: 'GBP' }}
                </div>
            </div>
            }
        </div>
    </div>
</div>