<div class="container container-top-margin">
    <div class="row">
        <div class="col-sm-12">
            @let user = (user$ | async);
            @if (notFound$ | async) {
            <p class="text-danger">User not found</p>
            } @else if (user) {
            <div class="card text-dark mb-3">
                <div class="card-body">
                    {{user.firstName}} {{user.lastName}}<br>
                    Email: {{user.email}} <br>
                    Password: {{user.password}} <br>
                    Phone: {{user.phone}} <br>
                    Address: {{user.address}} <br>
                    DOB: {{user.DOB}}
                </div>
            </div>
            }
        </div> <!-- col -->
    </div> <!-- row -->
</div> <!-- container -->