<div class="container container-top-margin">
    <div class="row">
        <div class="col-sm-12">
            @for(user of user_list; track user.firstName) {
            <div class="card text-dark mb-3">
                <div class="card-body">
                    {{user.firstName}} {{user.lastName}}<br>
                    Email: {{user.email}} <br>
                    Password: {{user.password}} <br>
                    Phone: {{user.phone}} <br>
                    Address: {{user.address}} <br>
                    DOB: {{user.DOB}}
                </div>
            </div>
            }
            <button class="btn btn-primary" (click)="editUser()">
                Edit Details
            </button>
        </div> <!-- col -->
    </div> <!-- row -->
</div> <!-- container -->