<div class="container container-top-margin">
    <div class="row">
        <div class="col-sm-12 d-flex flex-column align-items-center">

            <div *ngIf="defaultAccount" class="stripe-card mb-3 clickable-card"
                [routerLink]="['/accounts', defaultAccount._id]">
                <div class="stripe-card-top">
                    <div class="chip"></div>
                    <div class="card-brand">
                        {{ cardBrand | uppercase }}
                    </div>
                </div>
                <div class="card-number">
                    {{ utility.maskAccountNumber(defaultAccount.accountNumber) }}
                </div>

                <div class="stripe-card-bottom">
                    <div class="card-holder">
                        {{ defaultAccount.accountType | uppercase }}<br>
                        {{ defaultAccount.availableBalance | currency: (defaultAccount.currency || 'GBP') }}<br>
                        Sort Code: {{ utility.formatSortCode(defaultAccount.sortCode) }}<br>
                    </div>
                    <div class="expiry">
                        {{ defaultAccount.expiryDate }}
                    </div>
                </div>
            </div>
            <div *ngIf="!defaultAccount">
                <p>No default account set</p>
            </div>

            @if (transactions.length > 0) {
            <div class="d-flex justify-content-between align-items-center mt-5">
                <h5>Transactions:</h5>
                <div class="d-flex align-items-center gap-2">
                    <button class="btn btn-outline-primary btn-sm" (click)="toggleFilter()">
                        <i class="fa" [ngClass]="showFilter ? 'fa-times' : 'fa-filter'"></i>
                        {{ showFilter ? 'Close Filter' : 'Filter' }}
                    </button>

                    @if (showFilter) {
                    <div class="d-flex gap-2 align-items-center">
                        <select class="form-select form-select-sm w-25" [(ngModel)]="selectedCategory"
                            (change)="customCategory = ''">
                            <option value="">All Categories:</option>
                            @for (category of categories; track category) {
                            <option [value]="category">
                                {{ category }}
                            </option>
                            }
                        </select>
                        <input type="search" class="form-control form-control-sm w-25" placeholder="Enter category..."
                            [(ngModel)]="customCategory" (input)="selectedCategory = ''" />
                    </div>
                    }
                </div>
            </div>
            <ul class="list-group list-group-flush">
                @for (transaction of transactions | filter: effectiveCategory; track transaction._id) {
                <li class="list-group-item d-flex justify-content-between transaction-item transaction-spacing"
                    (click)="openTransaction(transaction._id)">
                    <div>
                        {{ transaction.description }}<br />
                        {{ transaction.category }}<br />
                        <p>{{ utility.formatTransactionDate(transaction.createdAt) }}</p>
                    </div>
                    <span [ngClass]="{
                        'text-success': transaction.type === 'credit',
                        'text-danger': transaction.type === 'debit'
                    }">
                        {{ transaction.amount | currency: defaultAccount.currency || 'GBP' }}
                    </span>
                </li>
                }
            </ul>
            }

            @if (transactions.length === 0 && defaultAccount) {
            <div class="d-flex justify-content-between align-items-center mt-5">
                <div class="plus-minus">
                    <p class="text-muted mt-3">No transactions found for this account. Add a transaction</p>
                </div>
            </div>
            }
        </div>
    </div>
</div>