<div class="container container-top-margin">
    @if (error) {
    <p class="text-danger">{{ error }}</p>
    }

    @if (account) {
    @if (account.balance > 0) {
    <p class="text-muted">
        Account must have a zero balance to be archived
    </p>
    }
    Add balance to account <i class="fa fa-plus add-balance-icon" (click)="addBalance()"></i>
    <div class="balance-card">
        <div class="balance-label">Balance</div>
        <div class="balance-amount">
            {{ account?.balance | currency: 'GBP' }}
        </div>
    </div>

    <div class="amount-card">
        <div class="amount-label">Amount:</div>
        Account #: {{ account.accountNumber }}<br />
        Currency: {{ account.currency || 'GBP' }}<br />
    </div>
    }

    @if (transactions.length > 0) {
    <div class="d-flex justify-content-between align-items-center mt-5">
        <h5>Transactions:</h5>
        <div class="plus-minus">
            <i class="fa fa-plus" (click)="addTransaction()"></i>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        @for (transaction of transactions; track transaction.id) {
        <li class="list-group-item d-flex justify-content-between transaction-item transaction-spacing"
            (click)="openTransaction(transaction._id)">
            <span [ngClass]="{ 'text-success': transaction.amount > 0, 'text-danger': transaction.amount < 0 }">
                - {{ transaction.amount | currency: account.currency || 'GBP' }}
            </span>
        </li>
        }
    </ul>
    }

    @if (transactions.length === 0 && account) {
    <div class="d-flex justify-content-between align-items-center mt-5">
        <div class="plus-minus">
            <p class="text-muted mt-3">No transactions found for this account. Add a transaction</p>
            <i class="fa fa-plus" (click)="addTransaction()"></i>
        </div>
    </div>
    }
</div>