.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-card {
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    background: white;
}

.payees-header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.view-all-link {
        color: #0d6efd;
        cursor: pointer;
        font-size: 0.9rem;
        margin-left: auto;
        margin-right: 12px;
        white-space: nowrap;
}

.view-all-link:hover {
    text-decoration: underline;
}