<div class="payments-hero">
    <h2>Payees</h2>
    <p>
        Send money quickly to saved payees or create a new transfer
    </p>
</div>

<div *ngIf="recentPayees.length > 0">
    <div class="payees-header-row">
        <h5 class="mt-4 mb-0">Recent Payees</h5>
        <span class="view-all-link" (click)="showAllPayees()">
            View All Payees
        </span>
    </div>
    <div class="card p-2 mb-2" *ngFor="let payee of recentPayees">
        <strong>{{ account.nickname }}</strong>
        Sort Code: {{ utility.formatSortCode(payee.sortCode) || '-' }}
    </div>
</div>

<div class="add-payee-row">
    <button class="btn btn-success mt-3" (click)="openBalanceForm()">
        Add Payee
    </button>
</div>

@if (showRecentPayees) {
<div class="overlay" (click)="closeShowRecentPayees()">
    <div class="modal-card card p-3" (click)="$event.stopPropagation()">
        <h5 class="mb-3 text-center">All Payees</h5>
        <div class="card p-2 mb-2" *ngFor="let payee of pagedPayees">
            <strong>{{ account.nickname }}</strong>
            Sort Code: {{ utility.formatSortCode(payee.sortCode) || '-' }}
        </div>
        <div class="paginator-center">
            <mat-paginator [length]="allPayees.length" [pageSize]="pageSize" [hidePageSize]="true"
                (page)="onPageChange($event)"></mat-paginator>
        </div>
    </div>
</div>
}

@if (showAddBalanceForm) {
<div class="overlay" (click)="closeBalanceForm()">
    <div class="modal-card card p-3" (click)="$event.stopPropagation()">

        <h5 class="mb-3">Add Payee</h5>

        <div class="mb-3">
            <label class="form-label me-2">Account Number</label>
            <input type="text" [(ngModel)]="confirmAccountNumber"
                (input)="confirmAccountNumber = utility.formatAccountNumber(confirmAccountNumber)"
                (keydown)="utility.numbersOnly($event)" maxlength="19" inputmode="numeric">
        </div>
        <div class="mb-3">
            <label class="form-label me-2">Sort Code</label>
            <input type="text" [(ngModel)]="confirmSortCode"
                (input)="confirmSortCode = utility.formatSortCode(confirmSortCode)"
                (keydown)="utility.numbersOnly($event)" maxlength="8" inputmode="numeric">
        </div>
        <div class="mb-3">
            <label class="form-label">Amount to add</label>
            <input type="number" class="form-control" [(ngModel)]="amountToAdd" required>
        </div>
        <button type="button" class="btn btn-primary w-100" (click)="addBalance()">
            Confirm Add Payee
        </button>
    </div>
</div>
}

<div class="recent-activity-container">
    <div class="recent-activity" *ngIf="recentActivity.length > 0">
        <h4>Recent Activity</h4>
        <ul class="list-group list-group-flush">
            <div class="transactions-list-center">
                @for (transaction of recentActivity; track transaction._id) {
                <li class="list-group-item d-flex flex-column transaction-item transaction-spacing transaction-list-item">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa transaction-icon" [ngClass]="utility.getCategoryMeta(transaction.category).icon"
                                [style.color]="utility.getCategoryMeta(transaction.category).color"></i>
                            <p class="mb-0">{{ transaction.merchant }}</p>
                        </div>
                        <span [ngClass]="{
                                    'text-success': transaction.direction === 'in',
                                    'text-danger': transaction.direction === 'out'
                                }">
                            {{ transaction.direction === 'out' ? '-' : '+' }}
                            {{ transaction.amount | currency: 'GBP' }}
                        </span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center w-100 mt-1">
                        <span class="transaction-date-small">
                            {{ utility.getTransactionDate(transaction.createdAt) }}
                        </span>
                        <span class="transaction-date-small">
                            {{ utility.getTransactionTime(transaction.createdAt) }} • {{ transaction.category }}
                        </span>
                    </div>
                </li>
                }
            </div>
        </ul>
    </div>
</div>