
<div class="payees-header-row" *ngIf="recentPayees.length > 0">
    <h5 class="mt-4 mb-0">Recent Payees</h5>
    <span class="view-all-link" (click)="showAllPayees()">
        View All Payees
    </span>
</div>

<div *ngIf="recentPayees.length > 0">
    <div class="card p-2 mb-2" *ngFor="let payee of recentPayees">
        <strong>{{ account.nickname }}</strong>
        Sort Code: {{ utility.formatSortCode(payee.sortCode) || '-' }}
    </div>
</div>

<button class="btn btn-success mt-3" (click)="openBalanceForm()">
    Add Balance
</button>

@if (showRecentPayees) {
<div class="overlay" (click)="closeShowRecentPayees()">
    <div class="modal-card card p-3" (click)="$event.stopPropagation()">
        <div class="card p-2 mb-2" *ngFor="let payee of pagedPayees">
            <strong>{{ account.nickname }}</strong>
            Sort Code: {{ utility.formatSortCode(payee.sortCode) || '-' }}
        </div>
        <div class="paginator-center">
            <mat-paginator [length]="allPayees.length" [pageSize]="pageSize" [hidePageSize]="true"
                (page)="onPageChange($event)"></mat-paginator>
        </div>
    </div>
</div>
}




@if (showAddBalanceForm) {
<div class="overlay" (click)="closeBalanceForm()">
    <div class="modal-card card p-3" (click)="$event.stopPropagation()">

        <h5 class="mb-3">Add Balance</h5>

        <div class="mb-3">
            <label class="form-label">Account Number</label>
            <input type="text" [(ngModel)]="confirmAccountNumber"
                (input)="confirmAccountNumber = utility.formatAccountNumber(confirmAccountNumber)"
                (keydown)="utility.numbersOnly($event)" maxlength="19" inputmode="numeric">
        </div>
        <div class="mb-3">
            <label class="form-label">Sort Code</label>
            <input type="text" [(ngModel)]="confirmSortCode"
                (input)="confirmSortCode = utility.formatSortCode(confirmSortCode)"
                (keydown)="utility.numbersOnly($event)" maxlength="8" inputmode="numeric">
        </div>
        <div class="mb-3">
            <label class="form-label">Amount to add</label>
            <input type="number" class="form-control" [(ngModel)]="amountToAdd" required>
        </div>
        <button type="button" class="btn btn-primary w-100" (click)="addBalance()">
            Confirm Add Balance
        </button>
    </div>
</div>
}