.accounts-list {
    display: flex;
    flex-direction: column;
}

.clickable-card { 
    cursor: move;
}

.cdk-drag-preview {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cdk-drag-placeholder {
    opacity: 0.3;
}