@import url('https://fonts.googleapis.com/css2?family=Deltha&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  flex: 0 0 auto;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-item {
  list-style: none;
}

.app-title {
  font-family: 'Deltha', sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.05em;
}