<nav class="navbar navbar-expand-sm container-fluid d-flex align-items-center">
  <span class="navbar-brand app-title">Monetary</span>

  @if (isLoggedIn) {
  <ul class="navbar-nav mx-auto">
    <li class="nav-item home-item">
      <a routerLink="/" class="nav-link home-link" aria-label="Home"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item">
      <a routerLink="/payments" class="nav-link">Payees</a>
    </li>
    <li class="nav-item">
      <a routerLink="/spending" class="nav-link">Insights</a>
    </li>
    <li class="nav-item">
      <a routerLink="/accounts" class="nav-link">Cards</a>
    </li>
  </ul>
  }

  @if (userId) {
  <a [routerLink]="['/user-details', userId]" class="profile-icon me-3" aria-label="Profile">
    <i class="fa fa-user"></i>
  </a>
  }

  @if (!isLoggedIn) {
  <div class="container">
    <div class="navbar-right d-flex align-items-center gap-2">
      <a routerLink="/login" class="nav-link">Login</a>
      <a routerLink="/create-account" class="nav-link">Sign Up</a>
    </div>
  </div>
  }
</nav>